body{
	font-family: Arial, 'Georgia', Times, Times New Roman, serif;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.container{
	margin: 0 auto;
	width: 960px;
}

header{
	background-color: #ebebeb;
	padding: 0;
	margin-bottom: 30px;
	clear: both;
	overflow: auto;
}

.name{
	color: #ebebeb;
	padding: 0 40px 0 40px;
	background-color: #169e9e;
	float: left;
	text-align: center;
}

nav{
	padding: 30px 0;
	float: right;
}

a{
	text-decoration: none;
	color: #777;
}

section{
	float: left;
	padding: 10px 30px;
	width: 590px;
	background-color: #ebebeb;
	margin-bottom: 30px;
}

.about-me_child{
	padding: 0  0 20px 0;
	color: #169e9e;
	border-bottom: 2px solid #777;
}

#my-pic{
	padding: 0 20px 20px 0;
	top:0;
	width: 150px;
	height: 150px;
	float: left;
}

p{
	line-height: 40px;
}

aside{
	position: fixed;
	right: 12%;
	text-align: center;
	color: #169e9e;
	padding: 0 20px;
	width: 230px;
	background-color: #ebebeb;
}

.connect-me{
	padding: 0 20px 20px 0;
	border-bottom: 2px solid #777;
}

.git, .in, .stack{
	padding: 7px;
	width: 25%;
	height: 50px;
}

footer{
	position: fixed;
	color: #ebebeb;
	padding: 20px;
	text-align: center;
	font-size: 10px;
	background-color: #777;
	bottom: 0;
	width: inherit;
	border-top: 7px solid #169e9e;
}

#my-portfolio-pic{
	position: relative;
	width: 40%;
	height: 150px;
	padding: 0 20px 20px 0;
	top:0;
	float: left;
}
#mathcat{
	bottom: 0;
	color: white;
}